body{
    background-color: #020d35;
}
div{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    color: white;
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
}
button{
    font-size: 40px;
    border-radius: 20px;
}
